.grid-container {
  display: grid;

  margin-top: 50px;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
}

.grid-container > button {
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .grid-container {
    padding-right: 8rem;
    grid-template-columns: 1fr 1fr;
  }
  .grid-container > button {
    width: 90%;
  }
}
