html,
body {
  height: 100%;
  font-size: 16x;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: gainsboro;
}

body {
  margin: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3rem;
  row-gap: 3rem;
}

.container > h1 {
  display: inline-block;
  margin: 0;
}
